.main-nav{
	margin: 0 auto;
	background-color: darkslategrey;
	height: 90px;
}
.main-nav a{
	text-decoration: none;
}
body{
	background-color: antiquewhite;
}
header nav{
	width:100%;
}
header nav a{
	font-family: 'Courier New', Courier, monospace;
	color: white;
	line-height: 90px;
	font-size: 16px;
	padding-left: 20px;
}
.nav-login{
	padding-top: 30px;
	float: right;
}
.nav-login form input{
	float: left;
	width: 160px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
}
.nav-login form button{
	float: left;
	width: 70px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	color:grey;
	cursor: pointer;
}
.nav-login form button:hover{
	background-color: grey;
	color: white;
}
header .nav-login a{
	float: right;
	display: block;
	width: 70px;
	height: 30px;
	background-color: darkslategrey;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	color:white;
	cursor: pointer;
	line-height: 40px;
	margin-right: 10px;
	text-decoration-line: underline;
}