.main-nav{
	margin: 0;
	background-color: darkslategrey;
	height: 90px;
}

.main-nav a{
	text-decoration: none;
}

body{
	background-color: antiquewhite;
}

header nav{
	width:100%;
}

header nav a{
	font-family: 'Courier New', Courier, monospace;
	color: white;
	line-height: 100px;
	font-size: 16px;
	padding-left: 20px;
}

.nav-login{
	padding-top: 30px;
	float: right;
}

.nav-login form input{
	float: left;
	width: 160px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
}

.nav-login form button{
	float: left;
	width: auto;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	color:grey;
	cursor: pointer;
}

.nav-login form button:hover{
	background-color: grey;
	color: white;
}

header .nav-login a{
	float: right;
	display: block;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	color:white;
	cursor: pointer;
	line-height: 40px;
	margin-right: 10px;
	text-decoration-line: underline;
}

.main-container{
	padding-top: 20px;
}

.main-container h2{
	font-family: 'Courier New', Courier, monospace;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}

/* SIGNUP.PHP */

.signup-form {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
}

.signup-form input {
	width: 90%;
	height: 40px;
	padding: 0px 5%;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	line-height: 40px;
	margin-bottom: 4px;
}

.signup-form button{
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	color: white;
	background-color:slategrey;
	cursor: pointer;
}
.signup-form button:hover{
	color: grey;
	background-color:white;
}
/*Account*/

.account-verify button {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 40px;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	color: white;
	background-color:slategrey;
	cursor: pointer;
}
.account-verify button:hover{
	color: grey;
	background-color:white;
}
.change-pwd {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
}

.change-pwd input {
	width: 90%;
	height: 40px;
	padding: 0px 5%;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	line-height: 40px;
	margin-bottom: 4px;
}

.change-pwd button{
	display: block;
	margin: 0 auto;
	width: 50%;
	height: 40px;
	border: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	color: white;
	background-color:slategrey;
	cursor: pointer;
}
.change-pwd button:hover{
	color: grey;
	background-color:white;
}
/*FOOTER*/
.foot-copyright p{
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	text-align: right;
}